a {
  color: inherit !important;
}

::ng-deep .ant-badge-count {
  background: black;
}


footer {

  h4 {
    margin: 0;
  }

  ul {
    gap: 8px;
  }

  ul a {
    text-decoration: none;
    color: #808080 !important;
    transition: all 0.3s ease;
  }
}