<header
  class="sticky flex flex-col md:flex-row top-0 z-50 shadow-sm flex items-center gap-3 py-4 md:h-[65px] md:p-0 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="flex mx-auto items-center justify-between gap-4 max-w-4/6 w-full">
    <a routerLink="/" class="text-decoration-none w-fit">
      <div class="flex items-center gap-2">
        <div class="logo flex items-center justify-center bg-slate-900 w-10 h-10 rounded-lg ml-4">
          <span class="text-lg text-white font-bold">E</span>
        </div>
        <span class="hidden sm:inline-block text-xl font-bold text-nowrap">E-commerce</span>
      </div>
    </a>

    <div class="hidden md:flex input-group relative max-w-[575px] w-full items-center">
      <lucide-angular
        [img]="search"
        class="absolute top-1 left-1.5 w-4 text-gray-500"
      ></lucide-angular>
      <input
        type="text"
        placeholder="Buscar produtos, categorias..."
        class="w-full h-10 rounded-lg bg-gray-50/40 border-1 border-gray-300 px-10 outline-none"
      />
    </div>

    <div class="flex items-center">
      <button
        (click)="switchTheme()"
        class="group hidden sm:inline-block py-2 px-3 rounded-lg cursor-pointer hover:bg-gray-100 transition"
      >
        <lucide-angular
          [img]="isDarkTheme ? sun : moon"
          class="w-4 group-hover:w-5 transition-all duration-300"
        ></lucide-angular>
      </button>
      <button class="group py-2 px-3 rounded-lg cursor-pointer hover:bg-gray-100 transition">
        <lucide-angular
          [img]="heart"
          class="w-4 group-hover:w-5 transition-all duration-300"
        ></lucide-angular>
      </button>
      <nz-badge [nzCount]="1" [nzOffset]="[-2, 8]" nzSize="default">
        <a [routerLink]="'cart'">
          <button
            class="inline-block group py-2 px-3 rounded-lg cursor-pointer hover:bg-gray-100 transition vertical-align-middle"
          >
            <lucide-angular
              [img]="cart"
              class="w-4 group-hover:w-5 transition-all duration-300"
            ></lucide-angular>
          </button>
        </a>
      </nz-badge>
    </div>
  </div>

  <div class="flex md:hidden input-group relative max-w-4/6 w-full items-center px-4">
    <lucide-angular
      [img]="search"
      class="absolute top-1 left-3.5 w-4 text-gray-500"
    ></lucide-angular>
    <input
      type="text"
      placeholder="Buscar produtos, categorias..."
      class="w-full h-10 rounded-lg bg-gray-50 border-1 border-gray-300 px-10 outline-none"
    />
  </div>
</header>



<div class="container-fluid main-container-fluid mx-auto">
  <main class="main-router-outlet w-full">
    <router-outlet></router-outlet>
  </main>
</div>



<footer class="container-fluid bg-gray-100 border border-gray-200 h-fit">
  <div class="flex mx-auto justify-between gap-4 max-w-4/6 w-full pt-10">
    <div class="flex flex-col gap-2">
      <a routerLink="/" class="text-decoration-none w-fit">
        <div class="flex items-center gap-2">
          <div class="logo flex items-center justify-center bg-slate-900 w-10 h-10 rounded-lg ml-4">
            <span class="text-lg text-white font-bold">E</span>
          </div>
          <span class="hidden sm:inline-block text-xl font-bold text-nowrap">E-commerce</span>
        </div>
      </a>
      <p nz-typography nzType="secondary">Modern, responsive e-commerce for niche products.</p>
    </div>

    <div class="flex flex-col gap-2">
      <h4 nz-typography>Shop</h4>
      <ul class="list-style-none">
        <li>
          <a routerLink="/" class="text-base">Camisetas</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">Canecas</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">Acessórios</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">Todos os Produtos</a>
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-2">
      <h4 nz-typography>Sobre nós</h4>
      <ul class="list-style-none">
        <li>
          <a routerLink="/" class="text-base">Nossa História</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">Carreiras</a>
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-2">
      <h4 nz-typography>Suporte</h4>
      <ul class="list-style-none">
        <li>
          <a routerLink="/" class="text-base">Contato</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">FAQ</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">Frete</a>
        </li>
        <li>
          <a routerLink="/" class="text-base">Termos de Uso</a>
        </li>
      </ul>
    </div>
  </div>
  <nz-divider></nz-divider>

  <div class="flex justify-between gap-2 max-w-4/6 w-full items-center mb-8 mx-auto">
    <p nz-typography nzType="secondary" class="text-sm text-center py-4">
      © 2025 E-commerce. Todos os direitos reservados.
    </p>
    <div class="flex gap-1">
      <a
        href="https://www.linkedin.com/in/pedro-barros-reis/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
      >
        <lucide-angular [img]="linkedin" class="w-8 text-gray-500 transition-all duration-300 hover:text-black"></lucide-angular>
      </a>
      <a
        href="https://github.com/pedroarthurcomh"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
      >
        <lucide-angular [img]="github" class="w-8 text-gray-500 transition-all duration-300 hover:text-black"></lucide-angular>
      </a>
      <a
        href="mailto:am.pedrobarros@outlook.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
      >
        <lucide-angular [img]="mail" class="w-8 text-gray-500 transition-all duration-300 hover:text-black"></lucide-angular>
      </a>
    </div>
  </div>
</footer>
