<main class="container w-full flex flex-col items-center justify-center py-8 mx-auto">
  @if (cartItems.length <= 0) { <!-- CARRINHO VAZIO -->
    <div class="flex flex-col mx-auto items-center mt-8">
      <lucide-angular [img]="bag" [size]="96" class="mb-2 my-icon"></lucide-angular>
      <div class="flex flex-col items-center">
        <h2 nz-typography class="text-no-wrap text-center">Seu carrinho está vazio</h2>
        <span nz-typography nzType="secondary" class="text-lg p-0 mb-4 text-center">Adicione produtos ao carrinho para
          continuar comprando</span>
        <a routerLink="/" class="text-decoration-none">
          <button class="py-3 px-6 bg-slate-900 rounded-lg text-white w-fit cursor-pointer">
            <span class="text-white font-bold text-lg">Explorar Produtos</span>
          </button>
        </a>
      </div>
    </div>
    } @else {
    <section class="h-full flex flex-col w-full">
      <h2 nz-typography class="text-no-wrap">Carrinho de Compras</h2>

      <div class="w-full flex flex-col md:flex-row gap-8 mt-6">
        <div class="cartItens border border-gray-200 px-6 py-4 rounded-lg w-full max-w-[70%] h-fit">
          <h4 nz-typography>Itens ({{ cartItems.length }})</h4>

          <ul class="list-style-none">
            <!-- CART ITEM -->
            <li *ngFor="let product of cartItems" [id]="product.id"
              class="product-cart-card flex gap-4 border-b border-gray-200 py-4">
              <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-lg bg-muted">
                <img nz-image [nzSrc]="product!.image_url" [nzFallback]="fallback" [alt]="product?.name"
                  class="h-full w-full object-cover" />
              </div>
              <div class="w-full">
                <div class="flex w-full justify-between items-center">
                  <span class="font-bold text-base">{{ product.name }}</span>
                  <button class="group p-2 rounded-lg hover:bg-gray-100 cursor-pointer">
                    <lucide-angular [img]="trash" [size]="18"
                      class="text-red-500 group-hover:text-gray-600"></lucide-angular>
                  </button>
                </div>
                <p class="text-gray-400">Camisetas</p>
                <div class="flex gap-4">
                  <p class="text-gray-400" style="margin-bottom: 2px">Tamanho: <span>P</span></p>
                  <div class="flex gap-1">
                    <span class="text-gray-400">Cor: </span>
                    <div class="h-4 w-4 rounded-full border p-0 m-0" style="background-color: rgb(0, 0, 0)"></div>
                  </div>
                </div>
                <div class="flex items-center justify-between">
                  <!-- QUANTITY INPUT -->
                  <div class="flex items-center rounded-lg border border-gray-200">
                    <button
                      class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-lg text-sm font-medium transition-all duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-100 hover:text-accent-foreground h-8 w-8 cursor-pointer"
                      disabled="">
                      <lucide-angular [img]="minus" [size]="16" class="text-black"></lucide-angular></button><span
                      class="w-10 text-center text-sm font-medium">1</span>
                    <button
                      class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-lg text-sm font-medium transition-all duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-100 hover:text-accent-foreground h-8 w-8 cursor-pointer">
                      <lucide-angular [img]="plus" [size]="16" class="text-black"></lucide-angular>
                    </button>
                  </div>
                  <!-- END QUANTITY INPUT -->
                  <span class="text-lg font-bold text-price">{{
                    _productService.formatPrice(product.price)
                    }}</span>
                </div>
              </div>
            </li>
            <!-- CART ITEM -->
          </ul>
        </div>

        <div class="righCards flex flex-col w-full max-w-[30%] h-full gap-6">
          <!-- SHIPPING OPTIONS -->
          <div class="flex flex-col border border-gray-200 p-6 rounded-lg">
            <div class="flex gap-3 items-center">
              <lucide-angular [img]="truck" [size]="20"></lucide-angular>
              <span class="font-bold text-lg">Calcular Frete</span>
            </div>
            <div class="cep flex flex-col mt-4">
              <label for="cep" class="font-bold">CEP</label>
              <input type="number" placeholder="00000-000"
                class="h-10 rounded-lg border-1 border-gray-200 outline-none p-3 placeholder:text-gray-400" />

              <div class="shippingOptions flex flex-col gap-3 mt-4">
                <button
                  class="py-2 px-4 w-full flex justify-between items-center rounded-lg border border-gray-200 hover:bg-gray-50 transition-all duration-200 cursor-pointer">
                  <div class="flex gap-4">
                    <input type="radio" name="shipping" id="shipping" selected="true"
                      class="accent-black cursor-pointer" />
                    <div class="flex flex-col items-baseline">
                      <span class="font-bold text-base">SEDEX</span>
                      <span class="text-gray-400 font-semibold">3 dias úteis</span>
                    </div>
                  </div>
                  <span class="font-bold text-base">R$ 25,00</span>
                </button>

                <button
                  class="py-2 px-4 w-full flex justify-between items-center rounded-lg border border-gray-200 hover:bg-gray-50 transition-all duration-200 cursor-pointer">
                  <div class="flex gap-4">
                    <input type="radio" name="shipping" id="shipping" selected="true"
                      class="accent-black cursor-pointer" />
                    <div class="flex flex-col items-baseline">
                      <span class="font-bold text-base">PAC</span>
                      <span class="text-gray-400 font-semibold">7 dias úteis</span>
                    </div>
                  </div>
                  <span class="font-bold text-base">R$ 15,00</span>
                </button>

                <button
                  class="py-2 px-4 w-full flex justify-between items-center rounded-lg border border-gray-200 hover:bg-gray-50 transition-all duration-200 cursor-pointer">
                  <div class="flex gap-4">
                    <input type="radio" name="shipping" id="shipping" selected="true"
                      class="accent-black cursor-pointer" />
                    <div class="flex flex-col items-baseline">
                      <span class="font-bold text-base">Express</span>
                      <span class="text-gray-400 font-semibold">1 dia útil</span>
                    </div>
                  </div>
                  <span class="font-bold text-base">R$ 35,00</span>
                </button>
              </div>
            </div>
          </div>
          <!-- END SHIPPING OPTIONS -->

          <!-- DISCOUNT -->
          <div class="flex flex-col border border-gray-200 p-6 rounded-lg">
            <div class="flex gap-3 items-center">
              <lucide-angular [img]="tag" [size]="20"></lucide-angular>
              <span class="font-bold text-lg">Cupom de Desconto</span>
            </div>
            <div class="cep flex gap-2 py-2 w-full">
              <input type="text" placeholder="Digite o cupom"
                class="h-10 rounded-lg border-1 border-gray-200 outline-none py-3 px-4 placeholder:text-gray-400 w-full" />
              <button
                class="py-2 px-4 border border-gray-200 rounded-lg transition-all duration-200 hover:bg-gray-50 cursor-pointer">
                <span class="font-semibold">Aplicar</span>
              </button>
            </div>
          </div>
          <!-- END DISCOUNT -->

          <!-- ORDER RESUME -->
          <div class="flex flex-col border border-gray-200 p-6 rounded-lg mb-4">
            <div class="flex gap-3 items-center">
              <span class="font-bold text-lg">Resumo do Pedido</span>
            </div>
            <div class="cep flex flex-col gap-2 pt-2 w-full">
              <div class="flex flex-col gap-2">
                <div class="subtotal flex w-full justify-between">
                  <span class="text-gray-400 text-sm">Subtotal</span>
                  <span class="text-gray-800 text-sm">R$ 89,90</span>
                </div>
                <div class="shipping flex w-full justify-between">
                  <span class="text-gray-400 text-sm">Frete</span>
                  <span class="text-gray-800 text-sm">R$ 25,00</span>
                </div>
                <nz-divider style="margin-block: 6px"></nz-divider>
                <div class="orderTotal flex w-full justify-between">
                  <span class="text-gray-950 text-lg font-bold">Total</span>
                  <span class="text-gray-950 text-lg font-bold">R$ 114,90</span>
                </div>
                <button
                  class="py-3 px-4 bg-gray-800 rounded-lg transition-all duration-200 hover:bg-gray-950 cursor-pointer">
                  <span class="font-bold text-white">FINALIZAR COMPRA</span>
                </button>
              </div>
              <div class="flex w-full justify-center">
                <p class="text-gray-400 text-xs">Parcelamento em até 12x sem juros</p>
              </div>
            </div>
          </div>
          <!-- END ORDER RESUME -->
        </div>
      </div>
    </section>
    }
</main>