<main class="container-fluid flex flex-col items-center justify-center min-h-[calc(100vh-406px)]">
  <section class="h-full w-full flex items-center">
    <div class="flex flex-col max-w-4/6 w-full flex-col gap-4 my-8 mx-auto">
      <div class="breadcrumb">
        <nz-breadcrumb>
          <nz-breadcrumb-item><a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>{{ ProductCategoryLabels[product!.category] }}</nz-breadcrumb-item>
          <nz-breadcrumb-item>{{ product?.name }}</nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>

      <div class="flex flex-col lg:flex-row w-full gap-8">
        <div class="product-image w-full aspect-square overflow-hidden rounded-xl bg-muted">
          <img
            nz-image
            [nzSrc]="product!.image_url"
            [nzFallback]="_productsService.imageFallback"
            [alt]="product?.name"
            class="h-full w-full object-cover"
          />
        </div>

        <div class="product-info lg:max-w-[50%] w-full">
          <div class="w-full">
            <span class="mb-2 text-sm font-semibold uppercase tracking-wider text-gray-400">{{
              ProductCategoryLabels[product!.category]
            }}</span>
            <h1 nz-typography class="product-name lg:text-nowrap">{{ product?.name }}</h1>
            <div class="flex flex-col sm:flex-row sm:items-center gap-4 text-nowrap">
              <h2 nz-typography class="product-price">
                {{ _productsService.formatPrice(product!.price) }}
              </h2>
              @if (product?.originalPrice !== product?.price) {
                <span
                  nz-typography
                  nzType="secondary"
                  class="product-original-price text-lg line-through text-gray-400"
                  >{{ _productsService.formatPrice(product!.originalPrice) }}</span
                >
                <div class="badge flex items-center sm:justify-center">
                  <span
                    class="flex items-center justify-center h-7 px-3 rounded-xl bg-red-400 text-white font-bold"
                    >-{{
                      _productsService.calculateDiscount(product!.originalPrice, product!.price)
                    }}% OFF</span
                  >
                </div>
              }
            </div>

            <div class="flex flex-col">
              <label class="my-2 font-bold">Tamanho</label>
              <nz-radio-group [(ngModel)]="size" nzSize="large">
                <label nz-radio-button nzValue="P" (click)="changeSize('P')">P</label>
                <label nz-radio-button nzValue="M" (click)="changeSize('M')">M</label>
                <label nz-radio-button nzValue="G" (click)="changeSize('G')">G</label>
                <label nz-radio-button nzValue="GG" (click)="changeSize('GG')">GG</label>
              </nz-radio-group>
            </div>

            <div class="flex flex-col pt-6">
              <label class="my-2 font-bold">Cor</label>
              <div class="input-group flex gap-4">
                <div
                  *ngFor="let color of product?.colors"
                  [style]="{ 'background-color': color }"
                  class="h-10 w-10 rounded-full border-2 transition-all border-border hover:border-primary cursor-pointer ring-2 ring-primary ring-offset-2"
                ></div>
              </div>
            </div>

            <div class="flex flex-col pt-6">
              <label class="my-2 font-bold">Quantidade</label>
              <!-- QUANTITY INPUT -->
              <div class="flex items-center gap-4">
                <div class="flex items-center rounded-lg border border-gray-200">
                  <button
                    class="inline-flex items-center justify-center  h-10 w-10  gap-2 whitespace-nowrap rounded-lg text-sm font-medium transition-all duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-100 hover:text-accent-foreground cursor-pointer"
                    disabled=""
                  >
                    <lucide-angular
                      [img]="minus"
                      [size]="16"
                      class="text-black"
                    ></lucide-angular></button
                  ><span class="w-10 text-center text-sm font-medium">1</span>
                  <button
                    class="inline-flex items-center justify-center  h-10 w-10  gap-2 whitespace-nowrap rounded-lg text-sm font-medium transition-all duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-gray-100 hover:text-accent-foreground cursor-pointer"
                  >
                    <lucide-angular [img]="plus" [size]="16" class="text-black"></lucide-angular>
                  </button>
                </div>
              </div>
              <!-- END QUANTITY INPUT -->
            </div>

            <div class="flex flex-col pt-6">
              <button
                (click)="submit()"
                class="flex justify-center items-center w-full p-3 bg-gray-600 rounded-lg gap-4 cursor-pointer hover:bg-gray-950 transition-all duration-200"
              >
                <lucide-angular
                  [img]="shoppingCart"
                  [size]="18"
                  class="text-white transition-transform group-hover:translate-x-1"
                ></lucide-angular>
                <span class="text-white font-bold text-lg">ADICIONAR AO CARRINHO</span>
              </button>
            </div>

            <nz-divider></nz-divider>

            <div class="product-description">
              <span class="text-lg font-bold">Descrição</span>
              <p class="text-gray-500 text-base pt-2">
                {{ product?.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
